body{
    background-color: #D5D5D5;
    padding: 5px;
}
h1{
    text-align: center;
    color: crimson;
    
}
div{
    padding-bottom: 5px;
}
div#logo img{
    width: 75px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
div#web iframe{
    width: 640px;
    height: 360px;
    margin: 2px 2px;
}
div.intro{
    text-align: justify;
}
#clearDiv{
    clear:both;
}
label{
    color: red;
}
fieldset{
    width: 35%;
}
/* div{
    padding-bottom: 4px;
} */
div#msgBox{
    padding-top: 4px;
}
table{
    /* margin-left: auto;
    margin-right: auto; */
    margin-inline: 133px;
    float: left;
    margin-bottom: 20px;
}
caption{
    color: royalblue;
    padding-bottom: 5px;
}
table,th,td{
    border: 1px;
    border-color: magenta;
    border-style: solid;
    width: 30%;
    /* text-align: left; */
}
th{
    text-align: center;
}
td{
    padding-left: 5px;
}
.currentStudent{
    margin-left: 140px;
}
.alumni{
    float: right;
    margin-right: 140px;
}
.registration{
    margin-left: 500px;
}
